Source: quickpanel
Section: devel
Priority: extra
Maintainer: Jeonghoon Park <jh1979.park@samsung.com>, Youngjoo Park <yjoo93.park@samsung.com> 
Build-Depends: debhelper (>= 5), libnotification-dev, libaul-1-dev, libelm-dev, libappcore-efl-dev, libappcore-common-dev, dlog-dev, libslp-setting-dev, libheynoti-dev, libsvi-dev, libprivilege-control-dev, libecore-dev, libedbus-dev, libevas-dev, libedje-dev, libmm-sound-dev, libicu-dev, libappsvc-dev, iniparser-dev, syspopup-caller-dev
Standards-Version: 3.7.2

Package: org.tizen.quickpanel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libappcore-efl-0, libelm-bin, libaul-1, libnotification-0, libsvi-0, libicu
Description: Quickpanel Application

Package: org.tizen.quickpanel-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, org.tizen.quickpanel (= ${Source-Version})
Description: Quickpanel Application
